In [32]:
import numpy as np

String Operations Methods

In [33]:
ch_name = "Indian AI Production" # create string
str1 = "Learning Python NumPy"

np.char.add()

In [34]:
add_string = np.char.add(ch_name, str1) # add two strings ch_name and str1
print("Added two string ch_name and str1 = ", add_string)

Added two string ch_name and str1 =  Indian AI ProductionLearning Python NumPy

np.char.multiply()

In [35]:
duplicate_ch_name = np.char.multiply(ch_name, 2) # multiply ch_name 2 times
print("Duplicated ch_name = ", duplicate_ch_name)

Duplicated ch_name =  Indian AI ProductionIndian AI Production

np.char.capitalize()

In [36]:
cap_ch_name = np.char.capitalize(ch_name) # capital ch_name
print("Capitalize ch_name = ", cap_ch_name)

Capitalize ch_name =  Indian ai production

np.char.lower()

In [37]:
low_ch_name = np.char.lower(ch_name) # lower ch_name
print("Lower ch_name = ", low_ch_name)

Lower ch_name =  indian ai production

np.char.upper()

In [38]:
upp_ch_name = np.char.upper(ch_name) # upper ch_name
print("Upper ch_name = ", upp_ch_name)

Upper ch_name =  INDIAN AI PRODUCTION

np.char.title()

In [39]:
tit_upp_ch_name = np.char.title(upp_ch_name) # title upp_ch_name
print("Title upp_ch_name = ", tit_upp_ch_name)

Title upp_ch_name =  Indian Ai Production

np.char.center()

In [40]:
cen_ch_name = np.char.center(ch_name, 30, fillchar = "*") # center upp_ch_name
print("Center ch_name = ", cen_ch_name) # print cen_ch_name

Center ch_name =  *****Indian AI Production*****

np.char.split()

In [41]:
spl_ch_name = np.char.split(ch_name) # split ch_name
print("Split spl_ch_name = ", spl_ch_name) # print spl_ch_name

Split spl_ch_name =  ['Indian', 'AI', 'Production']

np.char.splitlines()

In [42]:
splitlines_str = np.char.splitlines("Indian\nAi\nProduction") # splitlines string
print("Splitlines  = ", splitlines_str ) # print splitlines_str

Splitlines  =  ['Indian', 'Ai', 'Production']

np.char.join()

In [43]:
join_dmy = np.char.join([":", "/"], ["dmy", "dmy"])
print("Joint dmy by : and / = ", join_dmy)

Joint dmy by : and / =  ['d:m:y' 'd/m/y']

np.char.replace()

In [44]:
# Replace "AI" by "Artificial Intelligence" from ch_name
rep_ch_name = np.char.replace(ch_name, "AI", "Artificial Intelligence")
print("Replace old string by new = ", rep_ch_name)

Replace old string by new =  Indian Artificial Intelligence Production

np.char.equal()

In [45]:
equ_str = np.char.equal(ch_name, str1) # check equality
print("Is ch_name equal to str1 = ", equ_str )

Is ch_name equal to str1 =  False

np.char.not_equal()

In [46]:
not_equ_str = np.char.equal(ch_name, str1) # check  non equality
print("Is ch_name not equal to str1 = ", equ_str )

Is ch_name not equal to str1 =  False

np.char.count()

In [47]:
count_A = np.char.count(ch_name, "A") # count string "A"
print("Character 'A' present ", count_A , " times in a string - ", ch_name)

Character 'A' present  1  times in a string -  Indian AI Production

np.char.find()

In [48]:
find_AI = np.char.count(ch_name, "AI") # Find string "AI"
print("String  'AI' found at index ", find_AI , " from string - ", ch_name)

String  'AI' found at index  1  from string -  Indian AI Production

np.char.index()

In [49]:
# index_AI = np.char.index(ch_name, "m") # Find index "m"
# print("Index of 'm' string found at - ", find_AI , " from string - ", ch_name)

np.char.isalpha()

In [50]:
str_isalpha = np.char.isalpha("Hello") 
print("Is String 'Hello' alphabet - ", str_isalpha )

Is String 'Hello' alphabet -  True

np.char.isdecimal()

In [51]:
str_isdecimal = np.char.isdecimal("Hello") 
print("Is String 'Hello' decimal - ", str_isdecimal )

Is String 'Hello' decimal -  False

np.char.isdigit()

In [52]:
str_isdigit = np.char.isdigit("Hello") 
print("Is String 'Hello' digit - ", str_isdigit )

Is String 'Hello' digit -  False

np.char.islower()

In [53]:
str_islower = np.char.islower("Hello") 
print("Is String 'Hello' lower - ", str_islower )

Is String 'Hello' lower -  False

np.char.isupper()

In [54]:
str_isupper = np.char.isupper("Hello India") 
print("Is String 'Hello India' uppercase - ", str_isupper )

Is String 'Hello India' uppercase -  False

np.char.isnumeric()

In [55]:
str_isnumeric = np.char.isnumeric("Hello") 
print("Is String 'Hello' numeric - ", str_isnumeric )

Is String 'Hello' numeric -  False

np.char.isspace()

In [56]:
str_isspace = np.char.isspace("Hello India") 
print("Is String 'Hello India' space - ", str_isspace )

Is String 'Hello India' space -  False